<script src="js/home.js"></script>

<div class="header">
    <div class="dhs-header">
        <div class="is-pulled-left">
            <img class="dhs-logo" src="/images/icelogo.png" width="360" alt="U.S. Immigration and Customs Enforcement Logo"/>
        </div>
    </div>
</div>


<div class="tile">
    <div class="tile is-vertical is-6 centered">
        <div id="tileContent" class="tile content">
            <div id="imageUploadParentTile" class="tile is-parent is-vertical">
                <div class="tile file is-boxed is-child button dhs-button is-fullwidth upload-image">
                    <label class="file-label">
                        <input id="uploadImage" class="file-input" type="file" accept="image/*">
                        <div id="uploadImageText" class="button-text centered">
                            upload your image
                        </div>
                    </label>
                </div>
                <div id="useWebCam" class="tile file is-boxed is-child button dhs-button is-fullwidth upload-webcam">
                    <div id="webcamText" class="button-text centered">
                        use your web cam
                    </div>
                </div>
            </div>
            <div class="tile is-parent has-text-centered">
                <div class="tile is-child notification previewTile">
                    <div class="previewContainer">
                        <div class="centered subtitle">
                            Image Preview
                        </div>
                        <div class="centered">
                            <img id="imagePreview" class="imagePreview" src="/images/preview_placeholder.png">
                            <video id="videoCapture" class="imagePreview" autoplay></video>
                        </div>
                        <div class="centered">
                            <button id="takePicture" class="button dhs-button-blue is-fullwidth">TAKE PICTURE</button>
                        </div>
                        <div class="centered">
                            <button id="retakePicture" class="button dhs-button-blue is-fullwidth">RE-TAKE PICTURE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns submit-controls">
    <div class="column is-one-quarter centered">
        <input id="code" class="input is-white-outline is-fullwidth" type="text" placeholder="enter your code">
    </div>
</div>

<div class="columns submit-controls">
    <div class="column is-one-quarter centered">
        <button id="submitImage" class="button dhs-button-red is-fullwidth"><span class="center-button-text">SUBMIT</span></button>
    </div>
</div>

<div id="modalDialog" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="dialogTitle" class="modal-card-title"></p>
        </header>
        <section id="dialogMessage" class="modal-card-body"></section>
        <footer class="modal-card-foot">
            <button class="button-close button dhs-button-red">Close</button>
        </footer>
    </div>
</div>
