html {
    background: #2b5283;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
}

.centered {
    float: none;
    margin: 0 auto;
}

.previewTile {
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
}

.media-icon {
    margin-top: 18px;
}

.previewContainer {
    margin-left: 15px;
}

.imagePreview {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height:200px;
    width:auto;
    height:auto;
}

.dhs-logo {
    margin-top: 35px;
}

.dhs-header {
    height: 170px;
    background-color: #0d2235;
    border-bottom: 1px solid #9e2935;
    padding-left: 40px;
}

.header {
    margin-bottom: 30px;
}

.button-text {
    margin-top: 90px;
    margin-bottom: 15px;
}

.upload-image {
    background: url("/images/icon_upload.png") no-repeat center;
    background-position-y: 30px;
}

.upload-image:hover {
    background: url("/images/icon_upload_on.png") no-repeat center;
    background-position-y: 30px;
}

.upload-image:hover #uploadImageText {
    color: #ebe531;
}

.upload-webcam {
    background: url("/images/icon_webcam.png") no-repeat center;
    background-position-y: 30px;
}

.upload-webcam:hover {
    background: url("/images/icon_webcam_on.png") no-repeat center;
    background-position-y: 30px;
}

.upload-webcam:hover #webcamText {
    color: #ebe531;
}

.dhs-button {
    background-color: transparent;
    border: 3px dashed #ffffff;
    color: #ffffff;
}

.dhs-button-red {
    background-color: #9c2b37;
    border: none;
    color: #ffffff;
}

.dhs-button-red.is-hovered, .dhs-button-red:hover, .dhs-button-red:focus {
    background-color: #7c2b37;
    color: #ffffff;
}

.dhs-button-red:disabled,
.dhs-button-red[disabled] {
    background-color: #7c2b37;
    color: #aaaaaa;
    box-shadow: none;
    opacity: .5;
}

.dhs-button-blue {
    background-color: #0d2235;
    border: none;
    color: #ffffff;
}

.dhs-button-blue.is-hovered, .dhs-button-blue:hover, .dhs-button-blue:focus {
    background-color: #0d2235;
    color: #ffffff;
    opacity: .9;
}

.dhs-button.is-hovered, .dhs-button:hover {
    border-color: #ebe531;
    color: #ffffff;
}

.input.is-white-outline {
    border-color: #ffffff;
    background: transparent;
    color: #ffffff;
}

.input.is-white-outline::-webkit-input-placeholder {
    color: #ffffff;
}

/* Firefox < 19 */
input.is-white-outline:-moz-placeholder {
    color: #ffffff;
}

/* Firefox > 19 */
input.is-white-outline::-moz-placeholder {
    color: #ffffff;
}

/* Internet Explorer 10 */
input.is-white-outline:-ms-input-placeholder {
    color: #ffffff;
}

.center-button-text {
    margin: auto;
}

.submit-controls {
    margin-left: 30px;
    margin-right: 30px;
}

#code {
    margin-top: 20px;
    border-width: 3px;
}