<template>
  <div>
    <div class="dhs-header columns">
      <div class="column">
        <div class="is-pulled-left">
          <img class="dhs-logo" src="../assets/icelogo.png" alt="Department of Homeland Security Logo"/>
        </div>
      </div>
      <div class="column">
        <div class="tabs is-pulled-right">
          <ul>
            <li v-bind:class="{ 'is-active': uploadActive }"><a v-on:click="uploadClick">Uploads</a></li>
            <li v-bind:class="{ 'is-active': statusActive }"><a v-on:click="statusClick">Status</a></li>
          </ul>
        </div>
      </div>
    </div>
    <Upload v-if="uploadActive"></Upload>
    <Status v-if="statusActive"></Status>
  </div>
</template>

<script>
import Upload from './Upload'
import Status from './Status'
import jwtDecode from 'jwt-decode'

export default {
  name: 'admin',
  components: {
    Upload,
    Status
  },
  data () {
    return {
      uploadActive: true,
      statusActive: false
    }
  },
  methods: {
    uploadClick () {
      this.uploadActive = true
      this.statusActive = false
    },
    statusClick () {
      this.uploadActive = false
      this.statusActive = true
    },
    hasToken () {
      const token = this.$store.getters.token
      if (token === null || token === undefined || token === '') {
        this.$router.push({name: 'Login'})
      } else {
        const decoded = jwtDecode(token)
        console.log(decoded)
        console.log(Date.now() / 1000)
        if (decoded.exp < (Date.now() / 1000)) {
          this.$router.push({name: 'Login'})
        }
      }
    }
  },
  created () {
    this.hasToken()
  }
}
</script>

<style scoped>

  .dhs-header {
    background-color: #0d2235;
    border-bottom: 2px solid #9e2935;
    height: 100px;
  }
  .dhs-logo {
    margin-top: 20px;
    margin-left: 10px;
    height: 55px;
    width: 180px;
  }

  .tabs {
    font-size: 16px;
  }

  .tabs ul {
    border: 0;
  }

  .tabs li a {
    color: white;
    border-bottom-color: #0d2235;
    border-bottom-width: 3px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 20px;
    text-transform: uppercase;
  }

  .tabs li.is-active a {
    color: white;
    border-bottom-width: 3px;
    border-bottom-color: #9e2935;
    font-weight: bold;
  }

  @media (min-width: 769px) {
    .dhs-header {
      background-color: #0d2235;
      border-bottom: 2px solid #9e2935;
      height: 200px;
    }

    .dhs-logo {
      margin-top: 35px;
      margin-left: 50px;
      margin-bottom: 25px;
      margin-right: 35px;
      height: 109px;
      width: 360px;
    }

    .tabs {
      font-size: 32px;
      margin-top: 50px;
      margin-left: 25px;
      margin-right: 50px;
    }
    .tabs li a {
      border-bottom-width: 5px;
      margin-right: 40px;
    }

    .tabs li.is-active a {
      border-bottom-width: 5px;
    }
  }
</style>
