<template>
  <div>
    <div class="dhs-header">
      <div class="is-pulled-left">
        <img class="dhs-logo" src="../assets/icelogo.png" width="360" alt="Department of Homeland Security Logo"/>
      </div>
    </div>
    <div class="columns dhs-login">
      <div class="column is-one-third"></div>
      <div class="column is-one-third">
        <div class="login-tile">
          <div class="tile is-ancestor search-holder">
            <div class="tile is-vertical dhs-logintile">
              <div>
                <input title="User Name" autocapitalize="none" :class="{'dhs-loginfield': true, 'input': true, 'is-danger': errors.has('user-name') }" v-validate="'required'" name="user-name" type="text" v-model="username" placeholder="user name" data-vv-as="username"/>
                <div id="userNameError" class="dhs-loginerror" autocapitalize="none" v-show="errors.has('user-name')">{{ errors.first('user-name') }}</div>
              </div>
              <div>
                <input title="Password" :class="{'dhs-loginfield': true, 'input': true, 'is-danger': errors.has('pass-word') }" v-validate="'required'" name="pass-word" type="password" v-model="password" placeholder="password" data-vv-as="password" v-on:keypress="enterHandler"/>
                <div id="passwordError" class="dhs-loginerror" v-show="errors.has('pass-word')">{{ errors.first('pass-word') }}</div>
              </div>
              <div id="invalidLogin" v-if="invalid" class="dhs-loginerror dhs-invalid-login">
                Unable to login with those credentials
              </div>
              <div class="btn-holder">
                <button id="login" class="button dhs-loginbutton" v-on:click="login">LOG IN</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third"></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

const baseUrl = 'https://uscisupload.digitaldxc.com/api'

export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: '',
      invalid: null
    }
  },
  methods: {
    enterHandler (e) {
      if (e.keyCode === 13) {
        this.login()
      }
    },
    login () {
      this.invalid = false
      this.$validator.validateAll().then((result) => {
        if (result) {
          console.log(this.$services)
          const tokenUrl = baseUrl + '/token'

          const body = {}
          body.username = this.username.toLowerCase()
          body.password = this.password
          axios.post(tokenUrl, body)
            .then((response) => {
              this.$store.commit('addToken', response.data.token)
              this.$router.push({name: 'Admin'})
            })
            .catch((error) => {
              console.log('Error')
              console.log(error)
              this.invalid = true
            })
        } else {
          console.log('validator failed')
        }
      })
    }
  }
}
</script>

<style scoped>
  .dhs-logo {
    margin-top: 35px;
  }
  .dhs-header {
    height: 200px;
    background-color: #0d2235;
    border-bottom: 1px solid #9e2935;
    padding-left: 40px;
  }
  .dhs-login {
    background-color: #2b5283;
    height: 200vw;
  }

  .dhs-logintile {
    padding-top: 5px;
  }

  .dhs-loginerror {
    color: white;
    font-size: 1.1em;
    margin-top: 2px;
  }

  .dhs-invalid-login {
    margin-top: 20px;
  }
  .dhs-loginfield {
    margin-top: 20px;
    border: 5px solid white;
    background-color: #2b5283;
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
  }

  .dhs-loginbutton {
    background-color: #9e2935;
    border: 1px solid #9e2935;
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin-top: 45px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
  }

  @media (min-width: 769px) {
    .dhs-loginbutton, .dhs-loginfield {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    .dhs-logintile {
      padding-top: 50px;
    }
  }
</style>
