<template>
  <div class="dhs-content">
    <div class="modal" :class="{ 'is-active': modalShow }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{modalTitle}}</p>
          <button class="delete" aria-label="close" v-on:click="dismiss()"></button>
        </header>
        <section class="modal-card-body">
          {{modalMessage}}
        </section>
        <footer class="modal-card-foot">
          <button id="acceptReset" class="button dhs-reset" v-on:click="resetData()">{{modalTitle}}</button>
          <button class="button" v-on:click="dismiss()">Cancel</button>
        </footer>
      </div>
    </div>
    <div class="dhs-search level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <div class="control field dhs-searchfield">
            <div class="select is-left">
              <!-- eslint-disable-next-line -->
              <select class="dhp-field" title="Field" data-vv-name="Field" data-vv-as="column to search" v-model="searchField" v-validate="'required'" :class="{ 'is-danger': errors.has('field') }">
                <option>Name</option>
                <option>Code</option>
                <option>Status</option>
                <option>Comments</option>
              </select>
            </div>
          </div>
        </div>
        <div class="level-item">
          <div class="control">
            <input class="input dhs-searchterm" type="text" data-vv-name="Term" data-vv-as="search terms" placeholder="search" id="search" v-model="searchTerm" v-on:keypress="enterHandler" v-validate="'required'" :class="{ 'is-danger': errors.has('term') }"/>
            <div id='button-holder' v-on:click="search">
              <img src='../assets/icon_search.png' />
            </div>
          </div>
        </div>
        <div class="level-item" v-if="isSearching">
          <div class="control">
            <button class="button dhs-clear" v-on:click="clearSearch()">Clear</button>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="control">
            <button id="resetData" class="button dhs-reset" v-on:click="reset()">Reset Data</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="dhs-search-error" v-show="errors.has('field')">{{ errors.first('field') }}</div>
      <div class="dhs-search-error" v-show="errors.has('term')">{{ errors.first('term') }}</div>
    </div>
    <div>
      <table class="table is-striped dhs-status" v-if="status.length > 0">
        <thead>
          <tr><th>Name</th><th>Code</th><th>Status</th><th>Comments</th></tr>
        </thead>
        <tbody>
          <!-- eslint-disable-next-line -->
          <tr v-for="item in status">
            <td>{{item.firstName}} {{item.lastName}}</td>
            <td>{{item.code}}</td>
            <td>{{item.status}}</td>
            <td>{{item.comment}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-if="status.length === 0" class="dhs-norecords">
      {{ statusMessage }}
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'status',
  data () {
    return {
      status: [],
      searchField: '',
      searchTerm: '',
      isSearching: false,
      statusMessage: 'Loading....',
      allData: [],
      modalShow: false,
      modalMessage: 'Are you sure you want to erase all the data and start again?',
      modalTitle: 'Reset Demonstration Data'
    }
  },
  methods: {
    reset () {
      this.modalShow = true
    },
    dismiss () {
      this.modalShow = false
    },
    resetData () {
      this.modalShow = false

      const statusUrl = 'https://uscisupload.digitaldxc.com/api/user/reset'
      const config = {
        headers: { 'Authorization': 'Bearer ' + this.$store.getters.token }
      }

      axios.get(statusUrl, config)
        .then(() => {
          this.$store.commit('addToken', '')
          this.$router.push({name: 'Login'})
        })
        .catch((error) => {
          console.log('Reset failed')
          console.log(error)
        })
    },
    enterHandler (e) {
      if (e.keyCode === 13) {
        this.search()
      }
    },
    clearSearch () {
      this.searchTerm = ''
      this.searchField = ''
      this.isSearching = false
      this.status = this.allData
    },
    search () {
      this.$validator.validateAll().then((ok) => {
        this.isSearching = true
        if (ok) {
          if (this.allData.length === 0) {
            this.statusMessage = 'No data available to search'
            return
          }
          const searchResult = []
          this.allData.find((item) => {
            switch (this.searchField) {
              case 'Name':
                if (item.firstName.toLowerCase().indexOf(this.searchTerm.toLowerCase()) !== -1 || item.lastName.toLowerCase().indexOf(this.searchTerm.toLowerCase()) !== -1) {
                  searchResult.push(item)
                }
                break
              case 'Code':
                if (item.code.toLowerCase().indexOf(this.searchTerm.toLowerCase()) !== -1) {
                  searchResult.push(item)
                }
                break
              case 'Status':
                if (item.status.toLowerCase().indexOf(this.searchTerm.toLowerCase()) !== -1) {
                  searchResult.push(item)
                }
                break
              case 'Comments':
                if (item.comment.toLowerCase().indexOf(this.searchTerm.toLowerCase()) !== -1) {
                  searchResult.push(item)
                }
            }
          })
          this.status = searchResult
          if (this.status.length === 0) {
            this.statusMessage = 'No matches found'
          }
        }
      })
    },
    loadStatus () {
      const statusUrl = 'https://uscisupload.digitaldxc.com/api/user/all'
      const config = {
        headers: { 'Authorization': 'Bearer ' + this.$store.getters.token }
      }
      axios.get(statusUrl, config)
        .then((response) => {
          this.status = response.data.data
          this.allData = response.data.data
        })
        .catch((error) => {
          console.log('No Data Found')
          console.log(error)
        })
    }
  },
  created () {
    this.loadStatus()
  }
}
</script>

<style scoped>
  .debug {
    border: 1px solid red;
  }

  .dhs-reset {
    background-color: #9e2935;
    border-color: #0d2235;
    color: white;
    margin-right: 80px;
    font-weight: bold;
    margin-left: 15px;
  }

  #search{
    border-right: 0;
    border-bottom: 0;
    border-top:thin solid  #e5e5e5;
    border-left:thin solid  #e5e5e5;
    box-shadow:1px 1px 1px 0 #e5e5e5;
    float:left;
    outline:0;
    padding:.4em 0 .4em .6em;
    border-right: 0;
    z-index: 1;
  }

  #button-holder{
    position: relative;
    background-color: white;
    border-top:thin solid #e5e5e5;
    box-shadow:1px 1px 1px 0 #e5e5e5;
    cursor:pointer;
    float:left;
    text-align:center;
    border-left: 0;
    margin-left: -1px;
    z-index: 10;
    border-radius: 0 3px 3px 0;
  }

  #button-holder img {
    margin: 0.30em;
    border: 0;
  }

  .dhs-status {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dhs-status td {
    font-size: 16px;
    padding: 12px;
  }
  .dhs-status th {
    font-size: 24px;
    font-weight: bold;
    background-color: #f2f2f2;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #e6e6e6;
  }

  .dhs-search {
    margin-left: 10px;
  }

  .dhs-searchterm {
    width: 130px;
  }

  .dhs-clear {
    border:thin solid  #e5e5e5;
  }
  .dhp-field select:active, select:focus, select:after, select:hover, select:disabled {
    border:thin solid  #e5e5e5;
    box-shadow:1px 1px 1px 0 #e5e5e5;
    outline:0;
  }

  .select:not(.is-multiple)::after {
    border-bottom: thin solid black;
    border-left: thin solid black;
  }

  .dhs-search-error {
    text-align: left;
    margin-left: 10px;
    color: #9e2935;
    font-weight: bold;
  }

  .dhs-norecords {
    font-weight: bold;
    margin-top: 30px;
    color: #9e2935;
  }
  @media (min-width: 769px) {
    .dhs-status {
      width: 93%;
      margin-left: 40px;
      padding-right: 80px;
    }

    .dhs-searchterm {
      width: 400px;
    }

    .dhs-search, .dhs-search-error {
      margin-left: 40px;
    }
  }

</style>
