<template>
  <div>
    <div class="modal" :class="{ 'is-active': modalShow }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{modalTitle}}</p>
          <button class="delete" aria-label="close" v-on:click="dismiss()"></button>
        </header>
        <section class="modal-card-body">
          {{modalMessage}}
        </section>
        <footer class="modal-card-foot">
          <button class="button dhp-approve-button" v-on:click="submitStatus()">{{modalTitle}}</button>
          <button class="button" v-on:click="dismiss()">Cancel</button>
        </footer>
      </div>
    </div>
    <div id="errorModal" class="modal" :class="{ 'is-active': errorShow }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Error</p>
          <button class="delete" aria-label="close" v-on:click="dismiss()"></button>
        </header>
        <section class="modal-card-body">
          Unable to update status
        </section>
        <footer class="modal-card-foot">
          <button class="button dhp-approve-button" v-on:click="errorCancel()">OK</button>
        </footer>
      </div>
    </div>
    <div class="modal" :class="{ 'is-active': image.show }">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="image dhs-modal-image-container">
          <img :src="image.data" alt="" class="dhs-modal-image" >
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" v-on:click="dismissImage()"></button>
    </div>
    <!-- eslint-disable-next-line -->
    <div class="card dhs-card" v-for="(item, index) in approvals">
      <div class="columns dhs-approval">
        <div class="column is-2-desktop is-1-fullhd is-2-tablet dhs-image-column">
          <div class="dhp-image-container">
            <a href="#" v-on:click="showImage(index)">
              <img :src="'data:' + item.imageType + ';base64,' + item.image" class="dhp-image-thumb"/>
            </a>
          </div>
        </div>
        <div class="column dhs-data">
          <div class="dhs-name">{{item.firstName}} {{item.lastName}}</div>
          <div class="dhs-subhead">ADDRESS</div>
          <div class="dhs-subitem">{{item.address}}</div>
          <div class="columns">
            <div class="column">
              <div class="dhs-subhead">DOB</div>
              <div class="dhs-subitem">{{item.birthDate | formatDate}}</div>
            </div>
            <div class="column">
              <div class="dhs-subhead">CODE</div>
              <div class="dhs-subitem">{{item.code}}</div>
            </div>
          </div>
        </div>
        <div class="column">
          <textarea :id="'comments' + index" placeholder="comments" class="dhs-comments" :name="'comments' + index" data-vv-as="Comments" :data-vv-name="'comments' + index" v-model="item.comments" v-validate="'required'" :class="{ 'is-danger': errors.has('comments' + index) }"></textarea>
          <div>
            <div :id="'error' + index" class="dhs-comment-error" v-show="errors.has('comments' + index)">{{ errors.first('comments' + index) }}</div>
          </div>
        </div>
        <div class="column">
          <button :id="'deny' + index" class="button dhs-button dhs-deny" v-on:click="deny(item.code, item.comments, 'comments' + index)">DENY</button>
          <button :id="'approve' + index" class="button is-focused dhs-button dhs-approve" v-on:click="approve(item.code, item.comments, 'comments' + index)">APPROVE</button>
        </div>
      </div>
    </div>
    <div v-if="approvals.length === 0" class="dhs-norecords">
      {{ statusMessage }}
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'upload',
  data () {
    return {
      approvals: [],
      modalMessage: '',
      modalTitle: '',
      modalShow: false,
      errorShow: false,
      statusMessage: 'Loading data....',
      image: {
        show: false,
        data: ''
      },
      submit: {
        comment: '',
        code: '',
        approved: false
      }
    }
  },
  methods: {
    errorCancel () {
      this.errorShow = false
    },
    showImage (index) {
      this.image.data = 'data:' + this.approvals[index].imageType + ';base64,' + this.approvals[index].image
      this.image.show = true
    },
    dismissImage () {
      this.image.show = false
    },
    dismiss () {
      this.modalShow = false
    },
    submitStatus () {
      this.modalShow = false
      this.statusMessage = 'Loading data....'
      this.approvals = []
      this.updateUpload(this.submit.code, this.submit.approved, this.submit.comment)
    },
    approve (id, comments, field) {
      this.$validator.validate(field, comments).then((ok) => {
        if (ok) {
          this.modalMessage = 'Are you sure you wish to approve this image?'
          this.modalTitle = 'Approve'
          this.submit.code = id
          this.submit.comment = comments
          this.submit.approved = true
          this.modalShow = true
        }
      })
    },
    deny (id, comments, field) {
      this.$validator.validate(field, comments).then((ok) => {
        if (ok) {
          this.modalMessage = 'Are you sure you wish to deny this image?'
          this.modalTitle = 'Deny'
          this.submit.code = id
          this.submit.comment = comments
          this.submit.approved = false
          this.modalShow = true
        }
      })
    },
    loadUploads () {
      const statusUrl = 'https://uscisupload.digitaldxc.com/api/user/pending'
      const config = {
        headers: { 'Authorization': 'Bearer ' + this.$store.getters.token }
      }

      axios.get(statusUrl, config)
        .then((response) => {
          this.approvals = response.data.data
          if (this.approvals.length === 0) {
            this.statusMessage = 'No records found'
          }
        })
        .catch((error) => {
          console.log('No Data Found')
          console.log(error)
          this.statusMessage = 'No records found'
        })
    },
    updateUpload (code, approved, comments) {
      const updateUrl = 'https://uscisupload.digitaldxc.com/api/user/image/update/' + code
      const config = {
        headers: { 'Authorization': 'Bearer ' + this.$store.getters.token }
      }
      const body = {}
      body.status = approved ? 'approved' : 'denied'
      body.comment = comments

      axios.post(updateUrl, body, config)
        .then((response) => {
          console.log(response)
          this.loadUploads()
        })
        .catch((error) => {
          console.log('Update failed')
          console.log(error)
          this.errorShow = true
        })
    }
  },
  created () {
    this.loadUploads()
  }
}
</script>

<style scoped>
  .dhs-card {
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
  }
  .dhs-approval {
    text-align: left;
    padding-bottom: 15px;
    background-color: #f2f2f2;
  }
  .dhs-name {
    font-weight: bold;
    font-size: 24px;
  }
  .dhs-subhead {
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .dhs-subitem {
    font-weight: bold;
    font-size: 16px;
  }
  .dhs-comments {
    width: 95%;
    height: 120px;
    font-size: 1.0em;
  }
  .dhs-button {
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 20px;
    width: 160px;
    display: inline-block;
    margin-bottom: 15px;
  }
  .dhs-deny {
    background-color: #0d2235;
    border-color: #0d2235;
  }
  .dhs-approve {
    background-color: #9e2935;
    border-color: #0d2235;
  }
  .dhs-deny:hover {
    background-color: #2b5283;
  }
  .dhs-approve:hover {
    background-color: #1c080b;
  }
  .dhs-comment-error {
    text-align: left;
    color: #9e2935;
    font-weight: bold;
  }
  .dhs-norecords {
    font-weight: bold;
    margin-top: 30px;
    color: #9e2935;
  }
  .dhp-approve-button {
    background-color: #9e2935;
    color: white;
  }
  .dhp-image-thumb {
    max-height:100px;
    max-width:100px;
  }
  .dhp-image-container {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .dhs-modal-image {
    max-height: 85%;
    max-width: 85%;
  }
  .dhs-modal-image-container {
    width: 85%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .dhs-image-column {
    margin-right: 10px;
  }
  @media (min-width: 769px) {
    .dhs-button {
      color: white;
      font-weight: bold;
      font-size: 1.5em;
      margin-left: 20px;
      width: 160px;
      margin-top: 0;
    }

    .dhs-comments {
      width: 100%;
      height: 70%;
      font-size: 1.0em;
    }
    .dhs-approval {
      padding-top: 15px;
    }

  }
</style>
